@define-color window_bg_color rgba(17, 17, 17, 0.75);
@define-color accent_bg_color rgba(0, 113, 132, 0.75);
@define-color border_bg_color rgba(0, 113, 132, 0.75);
@define-color theme_fg_color #ffffff;

* {
  all: unset;
  font-family: "JetBrainsMonoNerd Font", "FontAwesome", sans-serif;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  padding: 0;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: linear-gradient(to top,
    rgba(17, 17, 17, 0.25) 0%,
    rgba(17, 17, 17, 0.75) 40%);
  border-radius: 7px;
  border: 1px solid shade(@accent_bg_color, 0.8);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 7px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  caret-color: @theme_fg_color;
  background: shade(@window_bg_color, 1.2);
  padding: 8px 10px 6px;
  color: @theme_fg_color;
  font-size: 30px;
}

.input:focus,
.input:active {
  border: 1px solid @accent_bg_color;
  box-shadow: 0 0 0 1px alpha(@accent_bg_color, 0.4);
}

.content-container {
  font-weight: 500;
}

.placeholder {
}

.scroll {
  padding: 0;
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  min-height: 40px;
  border-radius: 7px;
  padding: 5px 8px;
}

.item-quick-activation {
  margin-left: 10px;
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 7px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.15);
}

.item-text-box {
}

.item-text {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image {
  margin-right: 8px;
}

.keybind-hints {
  font-size: 12px;
  opacity: 0.5;
  color: @theme_fg_color;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  padding: 10px;
  border-radius: 10px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}
